.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.table {
    width: 100%;
    width: 600px;
    padding: 0;
    margin: 0;
}

.row {
    display: flex;
    width: 100%;
    list-style: none;
    padding: 5px 0;
    /* border-bottom: 1px solid #ddd; */
}

.cell {
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

@media (max-width: 992px) {


}
