.container {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #272eb0;
  text-align: center;
  padding: 10px 5px;
  z-index: 100;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}

.headerVerb {
  display: flex;
  align-items: center;
  width: 100%;
}

.cell,
.cellIcon {
  flex: 1;
  font-size: 1rem;
  text-align: center;
  align-content: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: 50px;
  margin: 2px;
  padding: 4px;
}

.cellText {
  display: none;
  flex: 1;
  font-size: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  height: auto;
  margin: 5px;
  padding: 10px;
}

@media (min-width: 992px) {
  .cell {
    flex: 1;
    font-size: 1rem;
    text-align: center;
    height: auto;
    margin: 5px;
    padding: 10px;
  }

  .cellIcon {
    display: none;
  }

  .cellText {
    display: block;
  }
}
