.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #2421b4;
  text-align: center;
  padding: 20px 0 5px 0;
  z-index: 100;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 10px 5px;
}

.table {
  padding: 0;
  margin: 0;
  width: 95%;
}

.row {
  display: flex;
  list-style: none;
  padding: 0;
}

.cell {
  flex: 1;
  font-size: 1rem;
  text-align: center;
  align-content: center;
  border: 1px solid #b3b8c5;
  border-radius: 4px;
  /* height: 50px; */
  margin: 3px;
  padding: 4px;
}

.button {
  border: 1px solid #b3b8c5;
  border-radius: 4px;
  background-color: #b3b8c5;
  margin: 5px;
  color: #000;
}
