.container {
  margin-bottom: 230px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #242424;
  z-index: 100;
}


.header {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.headerVerb {
  width: 600px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

.headerDetail {
  width: 120px;
  margin: 5px;
}

.cell {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 992px) {
}
